{% extends "calorimeter_site/base.html" %}

{% block content %}
	<h1>Change Password</h1>

	<form method="POST" action="{% url 'calorimeter_site:password_change' %}">
    	{% csrf_token %}
    	<p>New Password : {{passwordchangeform.newpassword1}} </p>
		{% if passwordchangeform.newpassword1.errors %}
			<p>{{ passwordchangeform.newpassword1.errors }}</p>
		{% endif %}
		<p>New Password (again) : {{passwordchangeform.newpassword2}} </p>
		{% if passwordchangeform.newpassword2.errors %}
			<p>{{ passwordchangeform.newpassword2.errors }}</p>
		{% endif %}

		{% if passwordchangeform.errors %}
			{% for error in passwordchangeform.non_field_errors %}
				<p>{{ error }}</p>
			{% endfor %}
		{% endif %}
    <input type="submit" name="submit" value="Finish" />
</form>

{% endblock %}
